.nav-background-light {
    background-color: rgb(8, 241, 203);
}

.nav-background-dark {
    background-color: rgb(18, 111, 114);
}

.nav-background-brand {
    background-color: rgb(10, 98, 214);
} 


